body { 
  font-family: "Lucida Console", Monaco, monospace;
  background: darkSlateGray;
}

table a {
  text-decoration: none;
  color: black;
  padding: 0px 20px 0px 20px;
}

table a:hover {
  background: #99CCFF;
}

.background {
  z-index: 0; 
  width: 100%; 
  height: 100%; 
  position: absolute; 
  top: 0px;
  left: 0px;
}

.business_card {
  /** Position and Size **/
  width:50%;
  min-width: 500px;
  max-width: 500px;
  margin-right: auto; 
  margin-left: auto; 
  margin-top: 10%;
  z-index: 5;
  position: relative; /** Needed to put the div on top of the canvas. **/
  
  /** Formatting **/
  background: #0099FF; 
  padding: 7px 7px 7px 7px;
  
  /** Fancy Effects **/
  border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0px 0px 70px #888888;
  border: 2px solid black;
}

.top {
  text-align: center;
}

.header {
  font-size: 2em;
  font-weight: bold;
}

.title {
  font-size: .7em;
}

#profiles {
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

#profiles:hover {
  background: #99CCFF;
}

#profile_content {
  display: none;
  padding: 10px 5px 10px 5px;
}

#projects {
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

#projects:hover {
  background: #99CCFF;
}

#projects_content {
  display: none;
}

.info-text {
  color: white;
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: .8em;
}