body { 
  font-family: Verdana, Arial, sans-serif;
  background: #99CCFF;
}

.business_card {
  /** Position and Size **/
  width:80%; 
  margin-right: auto; 
  margin-left: auto; 
  margin-top: 5%;
  
  /** Formatting **/
  background: #0099FF; 
  padding: 7px 7px 7px 7px;
  
  /** Fancy Effects **/
  border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 10px 10px 5px #888888;
}

.top {
  text-align: center;
}

.header {
  font-size: 2em;
  font-weight: bold;
}

.title {
  font-size: .7em;
}

.email {

}

#profiles {
  cursor: pointer;
}

#profiles:hover {
  background: #99CCFF;
}

#profile_content {
  display: none;
  padding: 10px 5px 10px 5px;
}

#profile_content a {
  text-decoration: none;
  color: black;
}
#profile_content a:hover {
  background: #99CCFF;
}

#projects {
  cursor: pointer;
}

#projects:hover {
  background: #99CCFF;
}

#projects_content {
  display: none;
}



.footer {

}